/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS reset */

* {
    box-sizing: border-box;
}

html {
    font-family: "Geist", sans-serif;
    min-height: 100dvh;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

b {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    max-width: 1920px; /* soon to be improved */
    padding: 0 1em;
}

main img {
    width: 100%;
}

.imgWrapper {
    height: 70dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -1em;
}

.imgWrapper img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.overlayText {
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0 4rem 0 1rem;
    color: white;
}

header {
    padding: 0.5em 1em;
    box-shadow: grey 0 0 0.5em 0.01em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#dropdownImg {
    width: auto;
    height: 2em;
    transition: all 0.2s ease;
}

h1 {
    font-size: 1.6em;
    font-weight: 700;
    color: #0d9488;
    margin: 0.5rem 0;
    flex-grow: 1;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0;
}

.imgWrapper h2, .reviews h2 {
    font-size: 2em;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.rotated {
    transform: rotateZ(90deg);
    transition: all 0.2s ease;
}

.hidden {
    display: none !important;
}

#dropdown {
    flex-basis: 100%;
    border-top: 1px solid lightgrey;
    margin: 0.5em 0 0 0;
}

#dropdown ul {
    width: 100%;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
}

#dropdown a {
    text-align: center;
    color: rgb(68, 64, 60);
    padding: 1.25rem 2rem;
    margin: 0 3rem;
    font-size: 1.1em;
    font-weight: 600;
    border-bottom: 1px solid lightgrey;
    border-radius: 0.3rem;
}

#dropdown li {
    display: inline-block;
    padding: 0.1em;
}

#dropdown a:last-of-type{
    border-bottom: none;
    padding: 1.5rem 4rem 1rem;
}

#dropdown a:hover {
    cursor: pointer;
    color: #0d9488;
}

.imgWrapper p {
    letter-spacing: 0.03rem;
    font-size: 1.1em;
    line-height: 1.4rem;
}

main section {
    margin: 1.5em 0;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: lightgrey 0 0.1em 0.5em 0.01em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section:last-of-type {
    margin: 1.5em 0 0;
}

.features {
    margin: 0 0 2em;
    padding: 1em 0;
}

.features svg {
    height: 3em;
    margin: 0 0 1em;
}

.features p {
    text-align: center;
    color: rgb(50, 50, 50);
    font-size: 1.05em;
    line-height: 1.4rem;
}

#dropdown a.active {
   color: #0d9488;
}

#dropdown a.active li {
    border-bottom: 2px solid #0d9488;
}

.question {
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.question p {
    margin: 1em 0 0;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em !important; /* Ja. */
}

.download a {
    padding: 1em 2em;
    margin: 0.5em;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 100em;
    transition: all 0.4s ease;
}

.download a:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition: all 0.4s ease;
}

.booking {
    display: inline-block;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #003b95;
    margin: 1.5rem 0 0;
    border-radius: 100em;
    transition: all 0.2s ease;
}

.booking:hover {
    filter: brightness(110%);
    transition: all 0.2s ease;
}

.reviews {
    padding: 3em 1em;
    margin: 0 -1em;
    text-align: left;
    background-color: #1a535c;
    color: white;
}

.reviews h2 {
    margin: 0 0 1em;
    text-align: center;
}

.reviews section {
    align-items: stretch;
    background-color: white;
    box-shadow: none;
}

blockquote {
    color: rgb(80, 80, 80);
    font-style: italic;
}

address {
    color: rgb(50, 50, 50);
    letter-spacing: 0.01rem;
    font-weight: 600;
    margin: 1rem 0 0;
    font-size: 1.05rem;
}

footer {
    background-color: #1f2937;
    padding: 1em 1em 2em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h3 {
    margin: 1em 0;
}

.contactInfo {
    display: flex;
    align-items: center;
    margin: 0 0 0.5em;
}

.contactInfo svg {
    width: 1.5em;
    margin: 0 0.5em 0 0;
}

iframe {
    width: 100%;
    height: 50dvh;
}

@media (min-width: 1000px) {
    h1 {
        flex-basis: 50%;
    }

    .imgWrapper h2, .reviews h2 {
        font-size: 2.5em;
        margin: 0 0 1.5rem 0;
    }

    .imgWrapper p {
        font-size: 1.2em;
    }

    header {
        flex-wrap: nowrap;
    }

    #dropdownImg {
        display: none;
    }

    #dropdown {
        display: block !important;
        border-top: none;
        flex-basis: 50%;
        flex-shrink: 1;
        margin: 0;
    }

    #dropdown ul {
        flex-direction: row;
        width: auto;
        align-items: center;
        justify-content: space-evenly;
    }

    #dropdown a {
        margin: 0;
        padding: 0.5em 1em !important; /* For last-of-type */
        border-bottom: none;
        transition: all 0.4s ease;
    }

    .features {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
        margin: 1em 0;
    }

    .features section {
        margin: 0 !important; /* For last-of-type */
        flex: 1 1 0;
    }

    .reviews {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }

    .reviews h2 {
        flex-basis: 100%;
    }

    .reviews section {
        margin: 0 !important;
        flex: 1 1 0;
        
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

}

@media (min-width: 1300px) {
    #dropdown {
        flex-basis: 30%;
    }
}